<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="my_module" translate="label" sortOrder="10">
            <label>My Module</label>
        </tab>
        <section id="lottery" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Lottery Configuration</label>
            <tab>my_module</tab>
            <resource>My_Module::config_lottery</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="minimum_amount" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Minimum Amount</label>
                    <comment>Minimum amount for the customer to be eligible for the lottery</comment>
                    <validate>validate-number</validate>
                </field>
                <field id="winning_chance" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Winning Chance</label>
                    <comment>Percentage chance of winning (0-100)</comment>
                    <validate>validate-number</validate>
                </field>
            </group>
        </section>
    </system>
</config>
